@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');

* {
    box-sizing: border-box;
}

a, button {
    transition: all .3s ease-in-out;
}

body {
    background-image: url(../img/baclg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    position: relative;
}

.window {
    width: 700px;
    background-color: #111a28;
    border-radius: 10px;
    position: absolute;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Noto Sans JP', sans-serif;
    color: #e1e1e1;
    font-weight: 100;
    font-size: 14px;
    letter-spacing: 2px;
}

.product {
    display: flex;
}

.product__foto {
    min-width: 330px;
    overflow: hidden;
    margin: 15px;
    display: inline-block;
    position: relative;
    text-align: center;
}

.foto__img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.desc {
    display: inline-block;
    margin-left: 60px;
    padding: 15px;
}

.desc__title {
    font-size: 24px;
    line-height: 26px;
    margin: 0;
    font-weight: 100;
}

.desc__title-desc {
    margin: 0;
    margin-top: 10px;
    font-weight: 100;
}


.desc__rating {
    margin: 20px 0;
}

.rating__star {
    margin-right: 1px;
}

.rating__star:hover path {
    fill: #d39309;
}


.desc__option {
    font-size: 0;
}

.option__select {
    background-color: transparent;
    color: inherit;
    padding: 5px;
    margin: 0;
    margin-right: 2px;
    font-size: 14px;
    transition: .3s ease;
}

.option__select:hover {
    border-color: white;
}

.option__select option {
    background-color:  #111a28;
    color: inherit;
}

.desc__buttom {
    margin: 0;
    margin-top: 30px;
    background-color: #202835;
    color: inherit;
    border: 1px solid #e1e1e1;
    padding: 12px 50px;
}

.desc__buttom:hover {
    background-color: transparent;
    cursor: pointer;
}

.product__color {
    border: 0;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    padding: 0;
    display: inline-block;
    margin-right: 2px;
    position: relative;
    font-size: 0;
    transition: all .3s ease;
}

.product__color:hover::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    border: 2px solid #e1e1e1;
    border-radius: 50%;
    transition: all .3s ease;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.product__color--bl {
    background-color: black;
}

.product__color--red {
    background-color: red;
}

.product__color--white {
    background-color: white;
}

.product__color--blue {
    background-color: blue;
}

.product__foto--marbotnone {
    margin-bottom: initial;
}